# Environment variables (contains passwords)
.env


# Logs
logs/

# Dependencies
node_modules/

# Docker volumes data
var/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
